.git
.gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
tests/
test_prediction.py/
test_preprocessing.py/
.coverage
htmlcov/
venv/
.venv/
env/
*.md
notebook/
.ipynb_checkpoints/
wildfire-dataset/
data/
database/*.db